/* Media queries */


 @media screen and (max-width: 575px){
  .buttonCard{
    margin: 1px;
    right: 180px !important; 
   }  
   .card-text{
    font-size: 1rem;
    margin-bottom: 1.3rem !important;
  }

  .fab  {
    color: #f8f9fc;
    background-color: #ffdecf;
    padding: 0.5%;
    border-radius: 20px;
    font-size: 15px;
  }
  .fass{
    background-color: #ffdecf;
    border-radius: 25px;
    font-size: 1rem;
    padding: 5px !important;
    margin: 5px;
  }
}
@media screen and (min-width: 576px){
  .buttonCard{
    font-size: 15px;
    margin: 1px;
    right: 0px !important;
  }
  .card-text{
    font-size: 1rem;
    margin-bottom: 1.3rem !important;
  }
  .carta{
    text-align: left;
    padding: 1rem !important;
  }
  .fass{
    background-color: #ffdecf;
    border-radius: 25px;
    font-size: 1rem;
    padding: 5px !important;
    margin: 5px;
  }
}


@media screen and (min-width: 768px){
  .buttonCard{
     right: 30px !important; 
  }
  .carta{
    padding: 1.4rem !important;
  }
}
@media screen and (min-width: 992px){
  .buttonCard{
    right: 70px !important;
  }
  .carta{
    padding: 1.5rem !important;
  }
}
@media screen and (min-width: 1200px){
  .buttonCard{
    right: 90px !important;
  }
  .carta{
    padding: 1.7rem !important;
  }
}

.navbar-text {
  position: absolute;
  width: 100%;
  left: 0;
  top: 2%;
  text-align: center;
  font-family: 'Petrona', serif;
  font-size: 5rem;
  color: #ffdecf;
  transition-duration: 0.4s;
  letter-spacing: 1.5rem;
}

.navbar-text:hover {
  color: #818078;
}

.nav-item {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  padding: 0% 2% 0% 2%;
  margin: 0% 0% 3% 0%;
  position: relative;
  top: 90px;
  
}

.nav-link {
  transition-duration: 0.3s;
  color: #d39a80;
  margin: 2% 0% 2% 0%;
}

.nav-link:hover {
  color: #818078;
}

.icons {
  position: relative;
  top: 30px;
  padding-bottom: 2%;
  text-align: center;
}

#boton {
  padding: 0%
}

#boton2 li {
 display: inline;
 }

.fab  {
  color: #f8f9fc;
  background-color: #ffdecf;
  padding: 0.5%;
  border-radius: 20px;
  font-size: 1rem;
}

.seccionuno {
  padding: 1% 0% 3% 0%;
  background-color: #ffff;
  text-align: center;
}

.carousel-inner img {
  height: 600px;
  width: 100%;
}

#secciondos {
  padding: 3%;
    background-color: #f8f9fc;
}

.card-deck {
  text-align: center
}

.hr-text {
  line-height: 1em;
  position: relative;
  top: -3;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  font-family: 'Petrona', serif;
  font-size: 2rem;
}

.hr-text:before {
  content: '';
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}

.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 0.5em;
  line-height: 1.5em;
  color: #d39a80;
  background-color: #f8f9fc;
}

#secciontres {
  padding: 3% 0% 5% 0%;
  background-color: #f8f9fc;
}

.card-img-center {
  border-radius: 15px;
  transition-duration: 0.5s;
}

.card-img-center:hover,
.card-img-center:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  transition-duration: 0.5s;
  box-shadow: 2px 2px 5px grey;
}

.card-title {
  font-family: 'Montserrat', sans-serif;
  transition-duration: 0.3s;
}

.card-title:hover {
  color: #d39a80;
  opacity: 0.53;
}

.card {
  transition-duration: 0.3s;
}

.card:hover,
.card:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  transition-duration: 0.3s;
  box-shadow: 2px 2px 15px grey;
}

.card-body .carta {
  background-color: #ffffff;
  box-shadow: 2px 2px 10px grey;
  border-radius: 4px;
  padding: 2rem;
  
}

.carta:before, .carta:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, rgba(238, 174, 202, 1), rgb(233, 208, 148, 1));
  border-image-slice: 1;
}


.card-text{
 position: relative;
 bottom: 12px;
 }

 .buttonCard{
position: absolute;
bottom: 10px;
right: 30px;
 }



.final{
text-align: center;

}

#footerI{
background-color: #ffffff;

}

#boton{
  padding: 2%
 
}

#boton li {
 display: inline;
 
 }



.fass{
  background-color: #ffdecf;
  border-radius: 20px;
  font-size: 1.5rem;
  margin: 5px;
  transition-duration: 0.3s;
}

.fass:hover{
  background-color: #bababa;
    transition-duration: 0.3s;
}

.raya{
  font-family: 'Petrona', serif;
  line-height: 1.5;
  font-size: 2;
  position: relative;
 
}

.raya:before  {
  content: "";
  position: absolute;
  bottom: 0px;
  height: 3px;
  width: 90px;
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, rgba(227,173,136,1), rgba(248,249,252,1));
  border-image-slice: 1;
}

.titulo{
  letter-spacing: 2.8rem;
  font-family: 'Petrona', serif;
  line-height: 1.5;
  transition-duration: 0.3s;
  color:  #ffdecf;
}

.titulo:hover{
color: #bababa;
    transition-duration: 0.3s;
}
